<div class="product-grid">
  @for (product of products; track product.id) {
    <div class="product-card">
      <div class="image-wrapper">
        <img [src]="product.imgUrl" [alt]="product.name">
      </div>
      
      <div class="info">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <div class="price">{{ product.price | currency:'BRL' }}</div>
      </div>

      <button (click)="selectProduct(product)">
        Selecionar Produto
      </button>
    </div>
  } @empty {
    <div class="loading">
      <p>A carregar catálogo de produtos...</p>
    </div>
  }
</div>